# Logs
webapp/access.log
backend/log.txt

# Optional npm cache directory
webapp/.npm

# dotenv environment variables file
webapp/.env

# version control
webapp/package-lock.json

# python cache in all subfolders
**__pycache__/